{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <h1>Pedestrian Attribute Detection System</h1>
    <p>Recognize and search the pedestrains by attributes!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/search"><h4>Search by Exact Attributes</h4></a>
            <p>You will be able to search the pedestrain by specifying the exact attributes such as: Gender, Hair Color,
                Clothes</p>
        </div>
        <div class="col-sm-4">
            <a href="/upload"><h4>Search by Image</h4></a>
            <p>Upload the pedestrain image of your interest, our system will detect and search in the database for
                pedestrains with same attributes</p>
        </div>
        <div class="col-sm-4">
            <a href="/upload_video"><h4>Upload Pedestrain Videos</h4></a>
            <p>The videos will be framed by system and the pedestrains inside will be identified. Their attributes will
                be detected and saved to our database for future search</p>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Capstone 2020</p>
    </div>
    <!-- /.container -->
</footer>

{% endblock %}

