<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"/>
</head>
<body>
<div class="content">
    <h1>Welcome to Pedestrian Attribute Detection System</h1>

    <div style="margin-top: 5%">
        <ul>
            <li><a href="/search">Search Pedestrains by Selecting Attributes</a></li>
            <li><a href="/upload">Search Pedestrains by Uploading an Image</a></li>
	    <li><a href="/upload_video">Search Pedestrains by Uploading a Video</a></li>
        </ul>
    </div>
</div>
</body>
</html>
