<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search by Attributes</title>

</head>
<body>
<form method="post" action="/search/">
    <fieldset>
        <legend>Accessory</legend>
        <input type="checkbox" name="accessory" value="accessoryHairBand">HairBand
        <input type="checkbox" name="accessory" value="accessoryHat">Hat
        <input type="checkbox" name="accessory" value="accessoryHeadphone">Headphone
        <br>
    </fieldset>

    <fieldset>
        <legend>Carrying</legend>
        <input type="checkbox" name="carrying" value="carryingBabyBuggy">BabyBuggy
        <input type="checkbox" name="carrying" value="carryingBackpack">Backpack
        <input type="checkbox" name="carrying" value="carryingBlack">Black
        <br>
    </fieldset>

    <fieldset>
        <legend>Footwear</legend>
        <input type="checkbox" name="footwear" value="footwearBlack">Black
        <input type="checkbox" name="footwear" value="footwearBlue">Blue
        <input type="checkbox" name="footwear" value="footwearBoots">Boots
        <br>
    </fieldset>

    <fieldset>
        <legend>Hair</legend>
        <input type="checkbox" name="hair" value="hairBald">hairBald
        <input type="checkbox" name="hair" value="hairBlack">hairBlack
        <input type="checkbox" name="hair" value="hairBlue">hairBlue
        <br>
    </fieldset>

    <fieldset>
        <legend>LowerBody</legend>
        <input type="checkbox" name="lowerBody" value="lowerBodyBlack">lowerBodyBlack
        <input type="checkbox" name="lowerBody" value="lowerBodyBlue">lowerBodyBlue
        <input type="checkbox" name="lowerBody" value="lowerBodyBrown">lowerBodyBrown
        <br>
    </fieldset>

    <fieldset>
        <legend>Personal</legend>
        <input type="checkbox" name="personal" value="personalFemale">personalFemale
        <input type="checkbox" name="personal" value="personalLarger60">personalLarger60
        <input type="checkbox" name="personal" value="personalLess15">personalLess15
        <br>
    </fieldset>

    <fieldset>
        <legend>UpperBody</legend>
        <input type="checkbox" name="upperBody" value="upperBodyBlack">upperBodyBlack
        <input type="checkbox" name="upperBody" value="upperBodyBlue">upperBodyBlue
        <input type="checkbox" name="upperBody" value="upperBodyBrown">upperBodyBrown
        <br>
    </fieldset>



    <input type="submit" value="Search now"/>

</form>
</body>
</html>