{% extends "base.html" %}


{% block title %}Upload Image{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload an pedestrain image you want to search</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" class="form-control-file border" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" class="btn btn-primary" value="Submit">
        </p>
    </form>

    {% if filename %}
    <div>
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ url_for('display_image', filename=filename) }}">
            </div>
            <div class="col-sm-4">
                <div>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Attribute</th>
                            <th scope="col">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for key in attributes_score.keys()%}
                        <tr>
                            <td class="col-md-3">{{ key }}</td>
                            <td class="col-md-2">{{ attributes_score[key]}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div>
                    <form method="post" action="/search_by_image" enctype="multipart/form-data">
                        <p>
                            <input id="attributes" name="attributes" required type="hidden" value="{{attributes}}">

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Search with the above attributes">
                        </div>

                        </p>
                    </form>
                </div>

            </div>
        </div>

    </div>


    {% endif %}


</div>
{% endblock %}