{% extends "base.html" %}


{% block title %}Upload Video{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload a Pedestrian Video</h2>
    <h4>Note: Too large videos will not be accepted</h4>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    <form method="post" action="/upload_video" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" class="form-control-file border" name="file" accept="video/*" required>
            </p>
        </dl>
        <p>
            <input type="submit" class="btn btn-primary" value="Submit">
        </p>
    </form>

    {% if filename %}
        {% if error_msg %}
            <div class="alert alert-danger">
                <strong>Error</strong> Exception happened.
            </div>
        {% else %}
            <div class="alert alert-success">
                <strong>Success</strong> Video has been processed and DB has been updated.
            </div>
        {% endif %}
    {% endif %}

</div>
{% endblock %}